*
body{
    font-family: sans-serif;
    text-align: center;
}

.container{
    margin: 50px auto;
    width: 300px;
    background: black;
    color: white;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
 
}

input{
    width: 90%;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button{
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#result{
    margin-top: 20px;
    font-size: 18px;
}
